<div class="login-page">
    <mat-card class="login-card">
        <mat-card-header style="display: flex; flex-direction: column; align-items: center;">
            <mat-card-title class="login-card-title">
                <career-logo></career-logo>
            </mat-card-title>
            <mat-card-subtitle>
                <span style="text-align: center;">Увійдіть, щоб продовжити</span>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="login-card-content">
            <career-login style="padding: 20px;" (login)="onLogin()"></career-login>
        </mat-card-content>
    </mat-card>
</div>