.login-card {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.login-card-title {
    padding: 25px 0;
    text-align: center;
}

.login-card-content {
    display: flex; 
    flex-direction: column; 
    padding-top: 16px; 
    align-items: center;
}