<div class="department-list-item" careerElevation>
    <!-- <button *ngIf="editable" class="department-list-item-remove-button" mat-icon-button color="primary" (click)="removeThis()">
        <mat-icon>delete</mat-icon>
    </button> -->
    <a class="department-list-item-content" [routerLink]="['/departments/' + department.id]">
        <div class="department-list-item-title">
            {{department.name}}
        </div>
        <div class="department-list-item-description">
            {{department.description}}
        </div>
    </a>
    
</div>