<div class="department-list-item" careerElevation>
    <button *ngIf="editable" class="department-list-item-remove-button" mat-icon-button color="primary" (click)="removeThis()">
        <mat-icon>delete</mat-icon>
    </button>
    <div class="department-list-item-content">
        <a class="department-list-item-title" [routerLink]="['/departments/' + department.id]">
            {{department.name}}
        </a>
        <div class="department-list-item-description">
            {{department.description}}
        </div>
    </div>
    
</div>