<div class="app-layout">
    <nav id="sidenav" class="sidenav sidenav-closed" (mouseover)="toggleSidenavState()" (mouseout)="toggleSidenavState()">
        <a href="javascript:void(0)" class="sidenav-toggle-btn">
            <div id="sidenavToggleIcon">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>
        </a>
        <a class="sidenav-item" [routerLink]="['/account']">
            <mat-icon inline class="sidenav-item-text">account_box</mat-icon>
            <span class="sidenav-item-text">Account</span>
        </a>
        <a class="sidenav-item" [routerLink]="['/departments']">
            <mat-icon inline class="sidenav-item-text">business</mat-icon>
            <span class="sidenav-item-text">Departments</span>
        </a>
    </nav>
    <section id="layout" class="layout sidenav-closed-layout">
        <header class="layout-header">
            <mat-toolbar color="primary" class="layout-header-toolbar">
                <career-logo class="logo"></career-logo>
            </mat-toolbar>
        </header>
        <main class="layout-content">
            <router-outlet></router-outlet>
        </main>
        <footer class="layout-footer">
            <mat-toolbar color="primary" class="layout-footer-toolbar">
                <p>Copyright 2021 MProstak</p>
            </mat-toolbar>
        </footer>
    </section>
</div>