<div class="departments-list-page">
    <div class="departments-list-page-admin-panel">
        <button class="admin-panel-btn" mat-flat-button color="accent" *ngIf="!isEditing" (click)="startEditing()" >Edit</button>
        <button class="admin-panel-btn" mat-flat-button color="accent" *ngIf="isEditing" (click)="addDepartment()">Add new</button>
        <button class="admin-panel-btn" mat-flat-button color="accent" *ngIf="isEditing" (click)="saveDepartments()">Save all</button>
    </div>
    <div class="departments-list">
        <career-department-list-item class="departments-list-item" *ngFor="let d of departments; let currentIndex = index;" [department]="d"
            [editable]="isEditing" (buttonRemoveEvent)="onItemRemove(currentIndex)">
        </career-department-list-item>
    </div>
</div>
