.departments-list-page {
    height: 100%;
}

.departments-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.departments-list-item {
    flex: auto;
    margin: 1%;
}

.departments-list-page-admin-panel {
    background-color: #000000;
    width: 50%;
    border-radius: 0 0 10px 10px;
    float: right;
    margin-top: -50px;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
}

.admin-panel-btn {
    margin-right: 10px;
}